/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Custom CSS*/
html {
  font-size: 16px;
}

:root {
  --border-color: #565656;
  --border-btn: 1px solid var(--border-color);
  --color-base-bg: #efefef;
  --color-base-text: #333;
  --color-btn-bg: #cfcfcf;
  --display-theme-name: "Dark";
}

@media (prefers-color-scheme: dark) {
  :root.dark {
    --border-color: #cfcfcf;
    --color-base-bg: #333;
    --color-base-text: #efefef;
    --color-btn-bg: #565656;
    --display-theme-name: "Light";
  }
}

:root.light {
  --color-base-bg: #efefef;
  --color-base-text: #333;
  --color-btn-bg: #cfcfcf;
}

:root.dark {
  --color-base-bg: #333;
  --color-base-text: #efefef;
  --color-btn-bg: #565656;
}

body,
input,
.theme-button,
.tellme-button {
  color: var(--color-base-text);
}

body {
  font-family: "Verdana", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  text-align: center;
  background-color: var(--color-base-bg);
}

.main {
  margin: 100px auto;
  max-width: min(95%, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img,
video {
  object-fit: contain;
  height: 400px;
}

.carousel-controls,
.indicator-tray,
.image-carousel {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.arrow {
  width: 3rem;
  fill: var(--color-base-text);
}

.arrow:hover {
  fill: var(--color-btn-bg);
}

.arrow.next > svg {
  transform: rotate(180deg);
}

button:hover,
.indicator:not(.active):hover {
  /* indicate clickable with highlight */
  box-shadow: 0 0 3rem 1rem var(--border-color) inset;
  cursor: pointer;
}

.indicator {
  display: inline-block; /* Ensures the indicators are on the same line */
  height: 3rem; /* Sets the height of the indicators */
  width: 3rem; /* Sets the width of the indicators */
  border-radius: 50%; /* Ensures the indicators are circular */
  background-color: var(--color-btn-bg); /* Sets the color of the indicators */
  transition: opacity 0.5s ease-in-out; /* Cleaner transitions */
  /*opacity: 0.5; /* Indicators default to semi-transparent and are revealed by class changing */
}

.indicator.active {
  background-color: var(--color-base-text);
}

.theme-button-container {
  align-self: flex-end;
}

.theme-button {
  margin-top: 1rem;
}

input,
.theme-button,
.tellme-button {
  background-color: var(--color-btn-bg);
  border: var(--border-btn);
}

input[type="text"] {
  text-align: center;
}

input[type="text"]:focus {
  border: 3px solid var(--border-btn);
}

input:invalid {
  border: 3px dashed red;
}

.error {
  color: white;
  background-color: #900;
  margin: 0.5rem auto;
}

.people {
  display: grid;
  resize: both;
  overflow: auto;
  grid-template: repeat(1, 1fr) / repeat(auto-fit, minmax(400px, 1fr));
  border: var(--border-btn);
  gap: 1rem;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Increasing font for smaller devices:
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#calculating-preferred-value-parameters-based-on-specific-starting-and-ending-points
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#using-negative-viewport-value-for-fluid-sizing
*/
h1 {
  font-size: clamp(2rem, -20vw + 19.5rem, 12rem);
}
h2 {
  font-size: clamp(1.5rem, -15vw + 14.625rem, 9rem);
}
label,
p,
input[type="text"],
button,
.error {
  font-size: clamp(1rem, -10vw + 9.75rem, 6rem);
}
